@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

body, html {
	background: url("http://edurdel.github.io/unit_3/images/background_10.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	color: #313030;
	font-family: 'PT Mono', serif;
	font-size: 34px;
}

#slogan {
	font-size: 18px;
	text-align: left;
}

h2 {
	color: #313030;
	font-size: 24px;
	font-family: 'Fjalla One', sans;
}

h3	{
	font-size: 18px;
	font-family: Arial;
	color: #faf8f8;	
	font-weight: bold;
}

 p {
	font-family: 'Libre Baskerville', serif;
	color: #faf8f8;
	font-weight: normal;
	font-size: 14px;
    line-height: 1.5em;
    margin: 2em;
 }
 .center {
	 text-align: center;
	 font-family: 'Fjalla One', sans;
	 font-size: 30px;
 }

ul {
	font-family: 'Fjalla One', sans;
	color: #faf8f8;
	font-size: 22px;
	text-align: left;
	line-height: 1.5em;
    margin: 2em;
